html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0; 
	padding: 0; 
	font-family: system;
	background-color: #000000;
	display: table;
	height: 100%;
	width: 100%;
}
iframe{
	width: 70%;
	height: inherit;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
}
.wrapper{
	padding: 20px;
	height: auto;
}
footer{
	background-color: #191919;
	display: table-row;
	height: 20px;
	text-align: center;
}
img{
	max-width: 70%;
	height: auto;
	margin-left: 15%;
	margin-right: 15%;
	float: left;
}
div.half{
	width: 30%;
	float: left;
	margin-right: 10px;
	margin-left: 15%;
	color: #009900;
	background-color: #191919;
	border: 5px;
	border-style: solid;
	border-color: #191919;
	border-radius: 20px;
	margin-bottom: 100px;
}
div.full{
	width: 50%;
	float: left;
	margin-right: 25%;
	margin-left: 25%;
	color: #009900;
	background-color: #191919;
	border: 5px;
	border-style: solid;
	border-color: #191919;
	border-radius: 20px;
	margin-bottom: 100px;
}
div.half-second{
	margin-right: 15%;
	margin-left: 10px;
	float: right;
	width: 30%;
	color: #009900;
	background-color: #191919;
	border: 5px;
	border-style: solid;
	border-color: #191919;
	border-radius: 20px;
	margin-bottom: 100px
}
h1{
	color: #009900;
}
header{
	background: black url(/images/banner.jpg) center no-repeat;
	width: 100%;
	padding: 40px 0;
	color: #009900;
	text-align: center;
	height: 150px;
}
a{
	text-decoration: none;
	color: inherit;
}
nav ul{
	background-color: #000000;
	overflow: hidden;
	color: #009900;
	padding: 0;
	text-align: center;
	margin: 0;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	
}
nav ul li{
	display: inline-block;
	padding: 20px;
}
nav ul li:hover{
	background-color: #39907;
}
section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	width: 75%;
	margin: 0 auto;
}
.handle{
	width: 100%;
	background: #000000;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: #009900;
	display: none;
	}
@media screen and (max-width: 580px){
	header {
		display: none;
	}
	nav ul{
		max-height: 0;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	.handle{
		display: block;
	}
}
