<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
	<title>The Hunt 2015</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="responsive.css" media="screen and (max-width: 760px)">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  </head>
  
  <body>
    <header id="header">
    		<div id="header">
		</div>
	</header>
	<nav>
		<ul>
			<a href="index.html"><li><b>Home</b></li></a>
			<a href="info.html"><li><b>Info</b></li></a>
			<a href="aanmelden.html"><li><b>Aanmelden</li></b></a>
			<a href="verhaal.html"><li><b>Verhaal</b></li></a>
			<a href="contact.html"><li><b>Contact</b></li></a>
		</ul>
		<div class="handle"><b>Menu &#9776 </b></div>
	</nav>
	<!-- everything above this line will be on all of the pages that use this layout -->

	{{ content }}
	
	<!-- everything below this line will be on all of the pages that use this layout -->
	<footer>
		<div class="wrapper">
			<b>&#169;Scouting Kizito, RSA401</b>
			<a href="http://facebook.com" target="_blank"><img src="/images/facebook.png" align="center"></a>	
	</footer>
	
	<script>
		$('.handle').on('click', function(){
			$('nav ul').toggleClass('showing');
			});
	</script>
  </body>
</html>